<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Lista de Tarefas</title>
</head>
<body>
<div class="lista_tarefas">
    <h1><strong>Lista de tarefas</strong></h1>
    <ol>
        {% for tarefa in tarefas %}
            <li>{{ tarefa[0] }} - {{ tarefa[1] }}</li>
        {% endfor %}
    </ol>
</div>
<div class="adicionar_tarefa">
    <form method="POST">
        <label for="tarefa">Tarefa:</label>
        <input type="text" id="tarefa" name="tarefa" required>
        
        <label for="data_limite">Data Limite:</label>
        <input type="date" id="data_limite" name="data_limite" required>
        
        <button type="submit">Adicionar</button>
    </form>
</div>

</body>
</html>